@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

._section {
    @apply w-full h-auto flex justify-center;
}
._wrapper {
    @apply px-2 w-full max-w-[1200px]
}
._h{
    @apply text-[42px] text-_blue_for-text
}
._main-bg{
    @apply bg-[url('/images/bg.webp')] bg-cover bg-bottom;
    background-size: 120%;
}
.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d12;
    height: 30px;
    vertical-align: bottom;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.range::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
}
   
.range::-ms-thumb {
    width: 0;
    height: 0;
    border: 0;
}